.emails {
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(204 204 204 / 38%);
    grid-template-columns: 280px auto auto;
    padding-right: 10px;
    
}
.emails:hover {
    box-shadow: 2px 2px 3px #ccc;
    border-left: 1px solid rgb(204 204 204 / 38%);
    cursor: pointer;
}
.emails__left svg {
    font-size: 20px;
    color: lightgray;
}
.emails__left .MuiButtonBase-root {
    padding: 7px;
}
.emails__left span {
    font-weight: 500;
    
}
.emails__left {
    margin-right: 20px;
    display: flex;
    align-items: center;
    min-width: 260px;
}
.emails__middle {
    display: flex;
    flex: 1;
}
.emails__middle p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 500;
}
.emails__middle p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
}
.emails__middle p span {
    font-weight: normal;
}
.emails__right .time {
    font-weight: bold;
    font-size: 12px;
}

.emails:hover .emails__left svg {
    color:gray;
}
.mail_body_wrapper_scroller a {
    text-decoration: none;
    color: #000;
}